%p#notice= notice

%p
  %b Title:
  = @homework.title
%p
  %b Subject:
  = @homework.subject
%p
  %b Due date:
  = @homework.due_date
%p
  %b Description:
  = @homework.description

= link_to 'Edit', edit_homework_path(@homework)
\|
= link_to 'Back', homeworks_path
